<div class="h-[5rem]  flex justify-between  1100:justify-around items-center px-2 650:container mx-auto">
    <div class="650:hidden ">
        <app-navigation-hamburger-menu />
    </div>
    <div class="min-w-10 min-h-full flex justify-center items-center">
        <img src="/logo/logo.svg" alt="#">
    </div>

    <div class=" h-full hidden 1100:block">
        <app-navbar-main-links />
    </div>
    <div class="h-full hidden 300:flex items-center min-w-[10%] 650:w-[10rem] 1100:w-[12rem] justify-between ">
        <div class="">
            <app-theme-switch></app-theme-switch>
        </div>
        <div class="" (click)="toggleSearchBar()">
            <img src=" /navbar_icons/search.svg" alt="#" class="h-8">
        </div>
        <div class="hidden 1100:inline-block">
            <button class="btn rounded-full px-2">
                <div class="rounded-full bg-white h-7 w-7">
                    <img src="" alt="">
                </div>
                English
            </button>
        </div>
        <div class="hidden 650:inline-block 1100:hidden">
            <app-navigation-hamburger-menu />
        </div>
    </div>
</div>