<div class="h-auto pt-2 pb-4 350:p-0 350:h-[20rem] relative  overflow-hidden">
    <img src="https://an1.com/templates/an1/images/head-bg.jpg" alt="hero_image"
        class="h-full object-cover absolute -z-10">
    <div class="container mx-auto z-40 flex justify-around items-center h-full w-full text-white">
        <div class="w-full 350:w-[28rem] space-y-2 px-2 350:px-4 ">
            <h1>Games Catalog</h1>
            <div class="350:w-[20rem]">
                <p>In our catalog you can download the latest versions of popular games for Android</p>
            </div>
            <div class="flex flex-col 650:flex-row gap-2 pt-4 w-full ">
                <button class="btn btn-primary">ALL GAMES</button>
                <button class="btn btn-secondary 750:hidden ">ALL MOD-GAMES</button>
            </div>
        </div>
        <div class="w-[25rem] space-y-2 hidden 750:inline-block">
            <h1>MOD Games</h1>
            <div class="w-[20rem]">
                <p>Free catalog of the latest MOD versions of games that you can download for free</p>
            </div>
            <button class="btn btn-secondary ">ALL MOD-GAMES</button>
        </div>
    </div>
    <div class="absolute top-0 left-[54%] h-full w-[34rem] bg-warning -skew-x-[24deg] -z-10 hidden 1100:inline-block">
    </div>
</div>