<div class=" 750:container mx-auto py-8">
    <div class="" #parentContainer>

        @if(error){
        <p>Error: {{error}}</p>
        }@else{
        <div class="flex flex-wrap gap-8 w-screen justify-center mx-auto 750:w-[80%] px-2 overflow-hidden ">
            @if(loading){
            @for(i of skeleton; track $index){
            <div class="h-[18rem] w-[17rem]  px-4">
                <app-pokemon-skeleton></app-pokemon-skeleton>
            </div>
            }}@else{
            @for(poke of pokemon; track $index){
            <div class="h-[18rem] w-[17rem] bg-base-200 px-4">
                <h2 class="text-end text-xl mt-1">{{poke.forms[0].name}}</h2>
                <img class="h-[18rem]" src="{{poke.sprites.other.dream_world.front_default}}"
                    alt="{{poke.forms[0].name}}">
            </div>
            }
            }
        </div>
        }


    </div>


    <!-- Pagination controls -->
    <div class="flex flex-col 200:flex-row justify-center items-center  mt-14 join join-horizontal">
        <!-- <button (click)="goToFirstPage()" [disabled]="currentPage === 1" class="btn join-item">First</button> -->
        <button (click)="goToPreviousPage()" [disabled]="currentPage === 1" class="btn join-item w-24">Previous</button>


        <div *ngFor="let page of getVisiblePages()" class="hidden 400:inline-block">
            <button (click)="getPokemonUrls(page)" [disabled]="page === currentPage" class="btn join-item">
                {{ page }}
            </button>
        </div>

        <button (click)="goToNextPage()" [disabled]="currentPage === totalPages"
            class="btn join-item w-24">Next</button>
        <!-- <button (click)="goToLastPage()" [disabled]="currentPage === totalPages" class="btn join-item">Last</button> -->
    </div>


</div>